{% extends "gui/HTML/base.html" %}

{% load bootstrap5 %}

{% block title %} {% endblock %}

{% block content %}

<div class="container" id="Informations">
</br>
    <div class="card p-4">
        <h4 class="card-title font-weight-bold text-center">Leaderboard : {{board.name}}</h4>
        <p>Description:{{board.description}}</p>
        <hr>
        <div class="card-text">
            <strong><p> 
                {{message}}
            </p></strong>

            <table>
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Equipe</td>
                        <td>Nom du Modèle</td>
                        <td>Score</td>
                        <td>Tentatives</td>
                    </tr>
                </thead>
                {% if score != None %}
                    {% for s in score %}
                        <tr>
                            <td> {{ forloop.counter }}</td>
                            <td> <a href="{% url 'teamProfil' s.team.id %}" class="linkProfil">{{s.team.name}} </a> </td>
                            <td>  {{s.best_model}}</td>
                            <td>  {{s.score}}</td>
                            <td>  {{s.number_entries}}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>

            </br>

            {% if user.is_authenticated %}
                {% if available %}
                    <a href="{% url 'submitModel' board.id %}"> Soumettre un modèle</a><br><br><br>
                {% endif %}
                {% if user.is_staff%}
                    <button hx-get="{% url 'updateBoard' board_id=board.id%}" hx-target="#dialog" class="buttonLink"> Modifier le leaderboard </button>
                {% endif %}
            {% endif %}

        </div>
    </div>
</div>




{% endblock %}