{% extends "gui/HTML/base.html" %}

{% load bootstrap5 %}

{% block title %} {% endblock %}

{% block content %}


<div id="landing_top" {% if not slider_images %} class="FULL-LANDINGTOP" {% endif %}>
	<div>
		<div>
			<h1>
				Leaderboard : 
			</h1>
		</div>
	</div>

	<div class="card p-4">
		<h4 class="card-title font-weight-bold text-center">Localisation</h4>
		<hr>
		<div class="card-text">
			<table>
				<thead>
					<tr>
						<td>Nom du leaderboard</td>
						<td>&nbsp</td>
					</tr>
				</thead>
				{% for b in localisation %}
						<tr>
							<td>{{b.name}} </td>
							<td><a href="{% url 'boardProfil' b.id %}"> Voir en détails </a></td>
						</tr>
				{% endfor %}
			</table>
		</div>
	</div>

	<div class="card p-4">
		<h4 class="card-title font-weight-bold text-center">Classification</h4>
		<hr>
		<div class="card-text">
			<table>
				<thead>
					<tr>
						<td>Nom du leaderboard</td>
						<td>&nbsp</td>
					</tr>
				</thead>
				{% for b in classification %}
						<tr>
							<td>{{b.name}} </td>
							<td><a href="{% url 'boardProfil' b.id %}"> Voir en détails </a></td>
						</tr>
				{% endfor %}
			</table>
		</div>
	</div>

	<!-- Slider main container -->
</div>




{% endblock %}