{% extends "gui/HTML/base.html" %}

{% load bootstrap5 %}

{% block title %} {% endblock %}

{% block content %}


<div id="landing_top" {% if not slider_images %} class="FULL-LANDINGTOP" {% endif %}>
	<div>
		<div>
			<h1>
				Leaderboard : 
			</h1>
		</div>
		<!-- <p>
			Développer un système d’intelligence artificielle embarqué sur des ressources <span>Edge IA</span> (matériel proche des capteurs de collecte de données). Le système s’appuiera sur les techniques et <span>modèles Deep Learning</span> vues et développés durant les défis du certificat IA. Ces modèles seront combinés pour fournir un module « Edge AI » appliqué aux vidéos capturées en temps réel. Chaque groupe aura le choix entre deux possibilités : 
		</p>
		<ul>
			<li>Module « Edge AI » pour maisons intelligentes </li>
			<li>Module « Edge AI » pour villes intelligentes.</li>
		</ul>

		<div id="watch_video">Vidéo du Workshop</div> -->

	</div>

	<!-- Slider main container -->
</div>




{% endblock %}