{% extends "gui/HTML/base.html" %}

{% load bootstrap5 %}

{% block title %} {% endblock %}
{% block content %}

        <!-- Informations -->
        <div class="container" id="Informations">
            </br>
            {% if user.is_authenticated %}
                <div class="card p-4">
                    <h4 class="card-title font-weight-bold text-center">Profil de {{ user.first_name }} {{ user.last_name }}</h4>
                    <hr>
                    <div class="card-text">
                        <p class="text-muted mb-0" style="font-size: 12px">Nom:</p>
                        <p>{{ user.last_name }}</p>
                        <p class="text-muted mb-0" style="font-size: 12px">Prénom:</p>
                        <p>{{ user.first_name }}</p>
                        <p class="text-muted mb-0" style="font-size: 12px">Email:</p>
                        <p>{{ user.email }} </p>
                    </div>
                </div>

                </br>
                <div>
                    <a href="/profil/edit">Modifier mes informations </a>
                </div>
            </br>
            {% endif %}

            <h class="diplay-10">Mes équipes</h>

            </br>
            <div>
                <a href="#">Créer une équipe </a>
            </div>

        </div>
        <!-- Informations -->


{% endblock %}