{% extends "gui/HTML/base.html" %}

{% load bootstrap5 %}

{% block title %} {% endblock %}
{% block content %}

        <!-- Informations -->
        <div class="container" id="Informations">
            <h class="diplay-10">Profil</h>
            </br>
            {% if user.is_authenticated %}
                <li>Pseudo: {{ user.user_name }}</li>
                <li>Nom complet: {{ user.first_name }} {{ user.last_name }}</li>
                <li>Email: {{ user.email }}</li>

                <div class="col-md-6 mb-md-6 mb-6">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#profilModal">
                        Modifier mes informations
                    </button>
                </div>
            {% endif %}

            <h class="diplay-10">Mes équipes</h>


            <div class="col-md-6 mb-md-6 mb-6">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createTeamModal">
                    Créer une équipe
                </button>
            </div>

        </div>
        <!-- Informations -->


{% endblock %}