{% extends "gui/HTML/base.html" %}

{% load bootstrap5 %}

{% block title %} {% endblock %}
{% block content %}

        <!-- Informations -->
        <div class="container" id="Informations">
            </br>
                <div class="card p-4">
                    <h4 class="card-title font-weight-bold text-center">Mon Profil</h4>
                    <hr>
                    <div class="card-text">
                        <p class="text-muted mb-0" style="font-size: 12px">Nom:</p>
                        <p>{{ user.last_name }}</p>
                        <p class="text-muted mb-0" style="font-size: 12px">Prénom:</p>
                        <p>{{ user.first_name }}</p>
                        <p class="text-muted mb-0" style="font-size: 12px">Email:</p>
                        <p>{{ user.email }} </p>
                    </div>
                </div>

                </br>
                <div>
                    <a href="/profil/edit">Modifier mes informations </a>
                </div>
            </br>

            <div class="card p-4">
                <h4 class="card-title font-weight-bold text-center">Mes équipes</h4>
                <hr>
                <div class="card-text">
                    <table>
                        <tr>
                            <td>Nom</td>
                            <td>Role</td>
                            <td>Rejoint le</td>
                        </tr>
                        {% for membersh in membership %}
                            {% if membersh.role < 4 %}
                                <tr>
                                    <td><a href="{% url 'teamProfil' membersh.team.id %}">{{membersh.team.name}} </a> </td>
                                    <td> {{membersh.getRole}} </td>
                                    <td>  {{membersh.date_joined}}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
            </br>
            <div>
                <a href="/createTeam">Créer une équipe </a>
            </div>

        </div>
        <!-- Informations -->


{% endblock %}