{% extends "gui/HTML/base.html" %}

{% load bootstrap5 %}

{% block title %} {% endblock %}
{% block content %}

{% load crispy_forms_tags %}

    <!--Register-->
    <div class="container py-5">
        <h1>Inscription</h1>
        <form method="POST">
            {% csrf_token %}
            {{ register_form.user_name|as_crispy_field }}
            {{ register_form.password1|as_crispy_field }}
            {{ register_form.password2|as_crispy_field }}
            {{ register_form.email|as_crispy_field }}
            {{ register_form.last_name|as_crispy_field }}
            {{ register_form.first_name|as_crispy_field }}
            {{ register_form.is_dev|as_crispy_field }}
            {{ register_form.is_active|as_crispy_field }}
            <button class="btn btn-primary" type="submit">S'inscrire</button>
        </form>
        <p class="text-center>"> <a ref="/login">Déjà membre ? Connectez-vous !</a></p>
    </div>

{% endblock %}