{% extends "gui/HTML/base.html" %}

{% load bootstrap5 %}

{% block title %} {% endblock %}

{% block content %}      

{% load crispy_forms_tags %}
<div class="container py-5">
  <h1>Soumission de modèle</h1>
  <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
        {{ submissionForm.team|as_crispy_field }}<br>
        {{ submissionForm.file|as_crispy_field }}<br>
        {% if board.category.category == 2 %}
          {{ submissionForm.entrySize|as_crispy_field }}<br>
        {% else %}
        {{ submissionForm.entrySize.as_hidden }}
        {% endif %}
        <strong> <p style="color:red;">{{error}}</p> </strong> <br>
        <button type="submit" class="btn umons_blue_btn" id="upload">Soumettre</button>
  </form>
</div>

{% endblock %}
  
