{% extends "gui/HTML/base.html" %}

{% load bootstrap5 %}

{% block title %} {% endblock %}
{% block content %}

        <!-- Informations -->
        <div class="container" id="Informations">
            </br>
                <div class="card p-4">
                    <h4 class="card-title font-weight-bold text-center">Equipe : {{team.name}}</h4>
                    <hr>
                    <div class="card-text">

                        <table>
                            <tr>
                                <td>Nom</td>
                                <td>Role</td>
                                <td>Rejoint le</td>
                            </tr>
                            {% for m in membership %}
                                {% if m.role < 4 %}
                                <tr>
                                    <td>{{m.member.last_name}} {{m.member.first_name}} </td>
                                    <td> {{m.getRole}} </td>
                                    <td>  {{m.date_joined}}</td>
                                    {% if m.member.id == user.id and role != 1 %}
                                    <td> 
                                        <a href="{% url 'removeUser' membership_id=m.id%}"> Quitter </a>
                                    </td>
                                    {% elif role == 1 and m.role != 1 %}
                                    <td> 
                                        <button hx-get="{% url 'updateUserRole' membership_id=m.id %}" hx-target="#dialog"> Modifier Role </button>
                                    </td>
                                    {% elif role < m.role %}
                                    <td>
                                        <a href="{% url 'removeUser' membership_id=m.id%}"> Exclure </a>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </table>

                        </br>


                        <p> Personnes en attente </p>
                        <table>
                            <tr>
                                <td>Nom</td>
                                <td>Etat</td>
                            </tr>
                        {% for m in membership %}
                            {% if m.role == 4 %}
                                <tr>
                                    <td>{{m.member.last_name}} {{m.member.first_name}} </td>
                                    <td> {{m.getRole}} </td>
                                    {% if role < 3 %}
                                    <td> 
                                        <a href="{% url 'addUser' membership_id=m.id %}"> Accepter </a>
                                        <a href="{% url 'removeUser' membership_id=m.id %}"> Refuser </a>
                                    </td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </table>
                    </div>
                </div>

                </br>
                {% if role == 1 %}
                    <button hx-get="{% url 'updateTeam' team_id=team.id%}" hx-target="#dialog"> Modifier l'équipe </button>
                {% elif role == 4 %}
                    <p> En attente d'une réponse </p>
                {% elif role == 5 %}
                    <a href="{% url 'joinTeam' team_id=team.id %}">Rejoindre </a>
                {% endif %}
            </br>

        </div>
        <!-- Informations -->


{% endblock %}