{% extends "gui/HTML/base.html" %}

{% load bootstrap5 %}

{% block title %} {% endblock %}
{% block content %}

        <!-- Informations -->
        <div class="container" id="Informations">
            </br>
                <div class="card p-4">
                    <h4 class="card-title font-weight-bold text-center">Equipe : {{team.name}}</h4>
                    <hr>
                    <div class="card-text">

                        <table>
                            <tr>
                                <td>Nom</td>
                                <td>Role</td>
                                <td>Rejoint le</td>
                            </tr>
                            {% for m in membership %}
                                {% if m.role < 4 %}
                                <tr>
                                    <td>{{m.member.last_name}} {{m.member.first_name}} </td>
                                    <td> {{m.getRole}} </td>
                                    <td>  {{m.date_joined}}</td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </table>

                        </br>


                        <p> Personnes en attente </p>
                        <table>
                            <tr>
                                <td>Nom</td>
                                <td>Etat</td>
                            </tr>
                        {% for m in membership %}
                            {% if m.role == 4 %}
                                <tr>
                                    <td>{{m.member.last_name}} {{m.member.first_name}} </td>
                                    <td> {{m.getRole}} </td>
                                    {% if role < 3 %}
                                    <td>  <a href="{% url 'updateTeam' membership_id=m.id role=3 %}"> Accepter </a>
                                            <a href="{% url 'updateTeam' membership_id=m.id role=0 %}"> Refuser </a>
                                    </td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </table>
                    </div>
                </div>

                </br>
                {% if role == 1 %}
                    <button class="btn btn-primary" type="submit" value="delete"> Supprimer l'équipe</button>
                {% endif %}
                {% if role == 4 %}
                    <p> En attente d'une réponse</p>
                {% endif %}
                {% if role == 5 %}
                    <a href="{% url 'joinTeam' team_id=team.id %}">Rejoindre </a>
                {% endif %}
            </br>

        </div>
        <!-- Informations -->


{% endblock %}