{% extends "gui/HTML/base.html" %}

{% load bootstrap5 %}

{% block title %} {% endblock %}

{% block content %}


        <!-- Informations -->
        <div class="container" id="Informations">
            <h2>Profil de l'équipe</h2>

            <div class="row">
                <div class="col-md-6 mb-md-6 mb-6">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#profilTeamModal">
                        Informations
                    </button>
                </div>

                <div class="col-md-6 mb-md-6 mb-6">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#DeleteModal">
                        Supprimer l'équipe
                    </button>
                </div>
            </div>

        </div>
        <!-- Informations -->


{% endblock %}